{{ define "main" }}

{{- if and (not .IsHome) .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content md-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- range $index, $page := .RegularPagesRecursive }}
<article class="post-entry">
  <header class="entry-header">
    <h2 class="entry-hint-parent">{{ $page.Title }}</h2>
  </header>
  {{- if (ne ($page.Param "hideSummary") true) }}
  <div class="entry-content">
    {{- if $page.Summary }}
    <p>{{ $page.Summary | plainify | htmlUnescape }}{{ if $page.Truncated }}...{{ end }}</p>
    {{- else if $page.Description }}
    <p>{{ $page.Description | plainify | htmlUnescape }}</p>
    {{- end }}
  </div>
  {{- end }}
  {{- if not ($page.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" $page -}}
  </footer>
  {{- end }}
  <a class="entry-link" aria-label="post link to {{ $page.Title | plainify }}" href="{{ $page.RelPermalink }}"></a>
</article>
{{- end }}

{{ end }}